pandas
numpy
matplotlib
jupyter
nltk
from nltk.corpus import stopwords
from nltk.corpus import movie_reviews
spacy
seaborn
geopandas
mapclassify
descartes
praw
tweepy
bs4
scipy
sklearn
gensim
pyLDAvis
spacy
wordcloud
